.users-page{
    padding:20px;
    color:white;
}


.page-header h2{
    font-size:28px;
    margin-bottom:5px;
    color: #151515;
}

.page-header p{
    color:#aaa;
}


.users-card{

    margin-top:25px;
    background:#151515;
    padding:20px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.3);

}


.table-wrapper{
    overflow-x:auto;
}


.users-table{
    width:100%;
    border-collapse:collapse;
}


.users-table th{

    color:#aaa;
    padding:15px;
    text-align:left;
    border-bottom:1px solid #333;

}


.users-table td{

    padding:15px;
    border-bottom:1px solid #222;
    color:#ddd;

}


.users-table tr:hover{

    background:#1c1c1c;

}


.user-info{

    display:flex;
    align-items:center;
    gap:12px;

}


.user-avatar{

    width:40px;
    height:40px;
    border-radius:50%;
    background:#713de9;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;

}



.role{

    background:#713de933;
    color:#b28cff;
    padding:5px 12px;
    border-radius:20px;
    font-size:13px;

}



.status{

    padding:5px 12px;
    border-radius:20px;
    font-size:13px;

}


.status.active{

    background:#16a34a33;
    color:#4ade80;

}


.status.inactive{

    background:#ef444433;
    color:#f87171;

}



.action{

    width:35px;
    height:35px;
    border:none;
    border-radius:8px;
    margin-right:8px;
    cursor:pointer;

}


.view{

    background:#ff7a19;
    color:white;

}


.edit{

    background:#ff8c00;
    color:white;

}


.delete{

    background:#dc2626;
    color:white;

}


.action:hover{

    transform:translateY(-2px);

}